.cursor {
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  top: -15px;
  left: -15px;
  background-color: black;
  opacity: 0.4;
  z-index: 50;
}

.cursor2 {
  position: fixed;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  top: -30px;
  left: -30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  z-index: 49;
}
