.cursor {
  position: fixed;
  border-radius: 100px;
  top: -15px;
  left: -15px;
  z-index: 50;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursorText {
  font-family: 'NoirPro Bold';
  width: 70px;
  text-align: center;
  font-size: 22px;
  color: var(--primary-black);
}

.cursor2 {
  position: fixed;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  top: -30px;
  left: -30px;
  border-style: solid;
  border-width: 2px;
  z-index: 49;
  pointer-events: none;
}
