.land {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  margin: 0;
  margin-bottom: 2rem;
  color: var(--primary-black);
  font-family: 'NoirPro SemiBold', cursive;
  font-weight: 100;
  font-size: clamp(4rem, 10vw, 100px);
}

.caption {
  margin: 0;
  color: var(--primary-black);
  font-family: 'NoirPro Medium';
  font-size: clamp(2rem, 5vw, 50px);
  margin-bottom: 5rem;
}
