.sky {
  margin-top: 100px;
  height: 100vh;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: clamp(1rem, 2vw, 1.5rem);
  align-content: flex-start;
}

.text {
  --progress: 10%;
  position: relative;
  margin: 0 0;
  font-family: 'NoirPro SemiBold';
  font-size: clamp(4.5vh, 5vw, 60px);
  -webkit-text-stroke-color: var(--primary-black);
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.text::before {
  content: attr(data-text);
  color: var(--primary-black);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  overflow: hidden;
}

.captionContainer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.caption {
  font-family: 'NoirPro Light';
  font-size: clamp(1.5rem, 4vw, 50px);
  color: var(--primary-black);
}
