.sky {
  margin-top: 100px;
  height: 100vh;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: clamp(1rem, 2vw, 1.5rem);
  align-content: flex-start;
}

.textWrapper {
  display: inline-block;
  transform-origin: bottom;
}

.text {
  /* Formatting */
  display: inline-block;
  position: relative;
  margin: 0 0;
  height: 2ch;
  font-family: 'NoirPro Medium';
  font-size: clamp(3.5rem, 5.5vw, 100px);

  /* Animation */
  --progress: 10%;
  -webkit-text-stroke-color: var(--primary-black);
  -webkit-text-stroke-width: 1px;
  color: transparent;
  transform-origin: top;
}

.text::before {
  height: 2ch;
  content: attr(data-text);
  color: var(--primary-black);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  overflow: hidden;
}

.captionContainer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.caption {
  font-family: 'NoirPro Regular';
  font-size: clamp(1.5rem, 4vw, 50px);
  color: var(--primary-black);
}
