.cardHolder {
  display: flex;
  height: 100vh;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card {
  width: min(80vw, 1000px);
  border-radius: 40px;
  background-color: rgba(50, 50, 50, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 20px;
  min-height: 50vh;
  color: white;
}

@media screen and (max-width: 600px) {
  .card {
    width: 90vw;
  }
}

.topContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.card h2 {
  margin: 0;
  font-family: 'NoirPro Bold';
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}

.card h3 {
  margin: 0;
  font-family: 'NoirPro SemiBold';
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.card h4 {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'NoirPro Medium';
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.card li {
  margin-bottom: 10px;
  font-family: 'NoirPro regular';
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.card hr {
  color: white;
  opacity: 0.5;
}
